.signup_wrapper{
    background: linear-gradient(rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)),
      url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
}

form{
    display: inline-block;
    background-color: #fff;
    border: none;
    margin: 15px 0;
    padding: 0px 60px;
    border-radius: 10px;
    text-align: left;
}
.form_Input{
    display: flex;
    flex-direction: column;
    width: 280px;
}
input{
    padding: 10px;
    margin: 5px auto;
    border-radius: 5px;
    width: 100%;
    border: 1px solid grey;
}
label{
    font-size: 13px;
    color: grey;
}
.errorMsg{
    font-size: 12px;
    padding: 3px;
    color: red;
    max-width: 285px;
    margin-bottom: 0px;
}
h1{
    color: rgb(127, 3, 127);
    text-align: center;
}

button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rgb(166, 10, 166);
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}